head{
  background-position: top center; align-content: center;
}
header { background-position: center; align-content: center;
}
body{
  align-self: center;  margin left: align-content: position: ;justify-self: start;; padding: ;;
}
img {
  background-position: center;
}


